body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#text-behind {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: black;
    overflow: auto;
    z-index: 0;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
}
