html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1f08ef;
  cursor: none;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.word {
  position: absolute;
  font-size: 70px;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#custom-cursor {
    position: fixed;
    top: 0;
    color: white;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    display: none;
    pointer-events: none;
}

#custom-cursor.visible {
    display: block;
}

#upper-left-text {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 50px;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  padding: 5px 10px;
}
